
.inner-tile  {
    background: #171a33;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #be00fb !important;
  }
  
  .inner-tile1  {
    background: #171a33;
    /* padding: 10px 0; */
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #be00fb !important;
  }
  .inner-tile1 ul li{

    cursor: pointer;
  }
  .p15 {
  padding: 10px 0;
  }
  
  .inner-tile1 li:nth-child(1) {
  padding: 10px 15px;
  border-bottom: 1px solid #be00fb !important;
  }
  .inner-tile1 li:nth-child(2) {
  padding: 10px 15px;
  border-bottom: 1px solid #be00fb !important;
  }
  
  .inner-tile1 li:nth-child(3) {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  }
  
  
  
  .inner-tile1 li a {
  font-size: 20px;
  }
  .grey{
      color: #7d848b;
      font-size: 13px;
  }
  